name: Rust

on:
  [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  testing:

    strategy:
      fail-fast: false
      matrix:
        host_os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.host_os }}

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable

    - name: Rustfmt
      if: ${{ !cancelled() }}
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: Clippy
      if: ${{ !cancelled() }}
      run: |
        cargo clippy --all-features -- -D warnings
        cargo clean
        cargo clippy --no-default-features -- -D warnings
        cargo clean
  
    - name: check --all-features
      if: ${{ !cancelled() }}
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all-features

    - name: Build
      if: ${{ !cancelled() }}
      run: |
        cargo build --verbose --all-features
        cargo clean
        cargo build --verbose --no-default-features
        cargo clean

    - name: Run tests
      if: ${{ !cancelled() }}
      shell: bash
      run: |
        cargo test --verbose --all-features
        cargo clean
        cargo test --verbose --no-default-features
        cargo clean

    - name: Abort on error
      if: ${{ failure() }}
      run: echo "Some of jobs failed" && false